schema/osb/OSBConfiguration.xsd

<?xml version="1.0"?>
<!--
Copyright (C) 2013 zANGETSu

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
-->

<xs:schema version="1.0"
    xmlns:osbconf="http://www.archenroot.org/SOATestingFramework/Config/OSB"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.archenroot.org/SOATestingFramework/Config/OSB"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation/>
    </xs:annotation>
    <xs:complexType name="OSBConfiguration">
        <xs:annotation>
            <xs:documentation xml:lang="en">This part is related to OSB environment configuration which the framework will communicate to, so it includes AdminServer and related message bean classes plus JMX related stuff. On top of this it includes list of services running on OSB which can be managed trough weblogic management API.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="adminServer" type="osbconf:AdminServer" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cluster" minOccurs="1" maxOccurs="1" type="osbconf:Cluster"> </xs:element>
            <xs:element name="services" type="osbconf:Services" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Cluster">
        <xs:annotation>
            <xs:documentation xml:lang="en">Definition of osb cluster group.</xs:documentation>
            <xs:documentation xml:lang="en">Attribute identificator is used for execution of framework component command or which object will be used for execution of the supported command.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="managedServer" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">List of managed servers in cluster.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="osbconf:ManagedServer"> </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="identificator" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">Used to identificate the cluster when executing management related commands over OSB. Must be the OSB cluster name, for example "osb_cluster"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ManagedServer">
        <xs:annotation>
            <xs:documentation xml:lang="en">Managed server configuration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="hostName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">IPv4 or hostname.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="port" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The port here is required due to supporting distributed JMS queue browser. In future this should be replaced/removed by get all distributed queue/topic connections from/trough admin server as soon as getting everything trough admin server is Oracle proposed way.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="identificator" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">Should be managed server name, for example "osb_server_1".</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="AdminServer">
        <xs:annotation>
            <xs:documentation xml:lang="en">Configuration of OSB admin server connection used by JMXServiceURL. Primary purpose is for OSB management and JMS related stuff.</xs:documentation>
            <xs:documentation xml:lang="en">Attribute identificator is used for execution of framework component command or which object will be used for execution of the supported command.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="managementMBeanServer" type="xs:string" minOccurs="1" maxOccurs="1"
                default="weblogic.management.mbeanservers.domainruntime">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        There exists 3 MBean servers accessible trough JMX, well even one can
                        connect directly to the managed server, Oracle suppose to connect to the
                        admin server trough the "Domain Runtime MBean Server" server bean and
                        manage other nodes from this point. Here is list of supported MBean servers:
                        MBean Server JNDI Name
                        Domain Runtime MBean Server weblogic.management.mbeanservers.domainruntime
                        Runtime MBean Server weblogic.management.mbeanservers.runtime
                        Edit MBean Server weblogic.management.mbeanservers.edit
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="managementMBeanService" type="xs:string" minOccurs="1" maxOccurs="1"
                default="com.bea:Name=DomainRuntimeService,Type=weblogic.management.mbeanservers.domainruntime.DomainRuntimeServiceMBean">
                <xs:annotation>
                    <xs:documentation>management service defaulting to DomainRuntimeService of type DomainRuntimeServiceMBean.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="weblogic.jndi.WLInitialContextFactory" name="initialContextFactory"
                type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Used to get initial weblogic context.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="weblogic.management.remote" name="jmxProtocolProviderPackages"
                type="xs:string">
                <xs:annotation>
                    <xs:documentation>JMXConnector related context attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="/jndi/" name="jmxServiceJNDIConstant" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Constant used to construct the JNDI name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="SOATestingFramework" minOccurs="1" name="seesionNamePrefix"
                type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Prefix for naming session when accessing OSB management.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element default="t3" name="jmxProtocol" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Default protocol used for communicatio with OSB cluster.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="host" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">IPv4 address or hostname.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="port" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">TCP port.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="securityPrincipal" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">User name for log onto OSB cluster.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="securityCredentials" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Password used to login onto OSB cluster.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="identificator" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">Admin server identification information. This is not supported fully yet as soon as only 1 instance of admin server is expected.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Services">
        <xs:annotation>
            <xs:documentation xml:lang="en">List of services running on OSB which can be managed trough server API.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="service" maxOccurs="unbounded" type="osbconf:Service"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Service">
        <xs:annotation>
            <xs:documentation xml:lang="en">Attribute identificator is used for execution of framework component command or which object will be used for execution of the supported command.</xs:documentation>
            <xs:documentation xml:lang="en">Element serviceURI is just relative path of URI, for example "/OsbDemoProject/proxy/MyProxyService".</xs:documentation>
            <xs:documentation xml:lang="en">Element serviceType is to let the management API which service is going to be managed. Currently two types of services are supported: "ProxyService" and "BusinessService".</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="serviceURI" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Relative service URI only, for example : "MyOsbProject/proxy/JMSListener".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="serviceType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Currently 2 types of services are supported: "ProxyService" and "BusinessService".</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ProxyService"/>
                        <xs:enumeration value="BusinessService"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="identificator" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">Attribute used to identification of service which is going to be managed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>