test/files/jms/JMSMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.archenroot.org/JMSMessage"
	xmlns:tns="http://www.archenroot.org/JMSMessage" elementFormDefault="qualified">
	<element name="message">
		<complexType>
			<sequence>
				<element name="id" type="string"></element>
				<element name="msgCnt" type="string"></element>
			</sequence>
		</complexType>
	</element>
</schema>